<h2>Create Banner</h2>
<div>
    <div class="row">
        <div class="col-md-2">
            <span>Banner HTML</span>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <textarea id="taHtml" style="width:100%;height:100px;"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <button type="button" id="btnSave" class="btn btn-default">Save</button>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#btnSave').on("click", function () {
                if ($('#taHtml').val() == '') {
                    alert('Html is mandatory');
                    return;
                }

                var banner = {
                    Id: 0,
                    Html: $('#taHtml').val()
                };
                 $.ajax({
                    url: '/api/bannerapi/save',
                     data: JSON.stringify(banner),
                    type: 'POST',
                    contentType: 'application/json;charset=utf-8',
                     success: function (content) {
                         window.location.href = "/home/index";
                    },
                     error: function (e) {
                         alert(e.responseJSON.ExceptionMessage);
                     }
                });

            });
        });
    </script>
}
